<style>
.hint-field .close {
    display: none;
}
h3 i.icon-info-circle {
    color: #1991d1;
}
</style>

<ol>

    <h3><i class="icon-info-circle"></i> How to get the Measurement ID and Stream ID</h3>

    <li><p>Login to: <a rel="nofollow external noopener noreferrer" href="https://analytics.google.com/analytics/web/" target="_blank">Google Analytics</a></p></li>

    <li><p>Click on the admin button in the bottom left of the screen.</p></li>

    <li><p>Create a new a new account clicking on the '<strong>Create Account</strong>' button.</p></li>

    <li><p><strong>Account &gt; Property &gt; Data Streams</strong>.</p></li>

    <li><p>Click on '<strong>Web</strong>' and then on the '<strong>Add Stream</strong>' button (if there isn't a data stream created yet).</p></li>

    <li><p>Make sure the '<strong>Enhanced measurement</strong>' checkbox is turned on to see all measuring options turned on.</p></li>

    <li><p>Copy the '<strong>MEASUREMENT ID</strong>' it starts with a '<strong>G-</strong>' and also the '<strong>STREAM ID</strong>' which should be a number.</p></li>

</ol>
